
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #4192e4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#about, #skills, #contact {
    padding: 20px;
}

#about h2, #skills h2, #contact h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

